.nav_links {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

.active {
    border-bottom: 2px solid #fefe;
}